.blog__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
}

.blog__title-item-one {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    align-items: center;
}

.blog__title-item-two {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    opacity: 0.5;
    align-items: center;
}

.blog__title-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 35px;
    align-items: center;
    margin-left: -35px;
}

.blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px  ;
}

.blog__list-one {
    display: flex;
    flex-direction: column;
    margin-left: -35px;
}

.blog__list-two {
    display: flex;
    flex-direction: column;
    margin-left: -35px;
    gap: 20px;
}

.blog__list-one-item {
    width: 132px;
    height: 22px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    mix-blend-mode: normal;
    padding-top: 10px;
}

.blog__list-one-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    width: 380px;
    height: 62px;
    padding-top: 7px;
}

.blog__list-one-info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    width: 380px;
    height: 125px;
    padding-top: 30px;
}

.blog__list-one-img {
    margin-top: 50px;
}

.blog__list-two-item {
    width: 132px;
    height: 22px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    mix-blend-mode: normal;
}

.blog__list-two-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    width: 380px;
    height: 62px;
}

.blog__list-two-info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    width: 380px;
    height: 125px;
}

.blog__list-two-img {
    margin-top: 50px;
}

.blog__scroll-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}